/* base/_utilities.scss */
// -----------------------
// Classes utilitaires
.light-background {
    --background-color: #f9f9f9;
    --surface-color:    #ffffff;
  }
  .dark-background {
    --background-color: #060606;
    --default-color:    #ffffff;
    --heading-color:    #ffffff;
    --surface-color:    #252525;
    --contrast-color:   #ffffff;
  }
