/* layout/_sections.scss */
section,
.section {
  background: $background-color; color: $default-color;
  padding: 60px 0; overflow: clip;
}
.section-title {
  text-align: center; padding-bottom: 60px; position: relative;
  h2 { font-size: 32px; font-weight: 700; margin-bottom: 20px; padding-bottom: 20px;
    &:before { content: ""; position: absolute; width: 160px; height: 1px;
      background: color-mix(in srgb, $default-color, transparent 60%);
      left: 0; right: 0; bottom: 70%; margin: auto;
    }
    &:after { content: ""; position: absolute; width: 60px; height: 3px;
      background: $accent-color; left: 0; right: 0; bottom: 70%; margin: auto;
    }
  }
  p { margin-bottom: 0; }
}
